<div>
  <div class="py-4 px-3 mb-4 bg-light">
    <ul class="list-group">
      <li class="list-group-item">
        <h4 class="m-0">Find by name</h4>
        <app-finder (gameNameSearched)="searchThis($event)"></app-finder>
      </li>
      <li class="list-group-item">
        <div class="media d-flex align-items-center">
          <!-- <img src="https://pngimg.com/uploads/smiley/smiley_PNG36229.png" alt="..." width="65"
          class="mr-3 rounded-circle img-thumbnail shadow-sm"> -->
          <div class="media-body">
            <h4 class="m-0">Find by platform</h4>
            <!-- <p class="font-weight-light text-muted mb-0">por consola</p> -->
          </div>
        </div>
        <div *ngFor="let platform of platforms">
          <div class="col">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <button type="button" class="btn btn-outline-primary" (click)="gameByPlatform(platform.id)">
                  {{platform.name}}
                </button>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>