<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Múltiples Juegos</h3>
                <p>Encuentra los mejores juegos en nuestra página web</p>
            </div>
            <div class="col">
                <h3>Navegación</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Juegos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Contacto</h3>
                <p>789 Calle Principal</p>
                <p>email@ejemplo.com</p>
                <p>+1-234-567-8901</p>
            </div>
        </div>
    </div>
    <div class="copy">
        <p>&copy; 2021 Múltiples Juegos. Todos los derechos reservados.</p>
    </div>
</footer>