/*selector:pseudoclase*/
a:hover{
    background-color: burlywood;
}

/*selector:pseudo-elemento*/
p::first-letter{
    color:white;
}

h1::before{
    content:" << pseduo-elemento::before >> ";
    color:gray;
}
h1::after{
    content:" << pseduo-elemento::after >> ";
    color:gray;
}

/*Cominadores de decenentes*/
div h2 {
    color: green;
}

/*Cominadores de elementos hijos*/
div > h3 {
    color: blue;
}

/*Cominadores de hermanos adyacentes*/
h1 + div {
    color: blueviolet;
}

/*Cominadores de hermanos generales*/
h4 ~ p {
    color: tomato;
}