<div *ngIf="gameSelected">
    <div class="card mb-3" style="width: 80%; margin: 25px;">
        <div class="row g-0">
            <div class="col-sm-3 d-none d-sm-block">
                <div *ngFor="let img of gameSelected.short_screenshots">
                    <img [src]="img.image" class="img-fluid" [alt]="img.image">
                </div>
                <!-- REVISAR POR QUE NO ANDA ///////////////////////////////////////////////////////////////////////////////-->
                <!-- <div id="carouselExampleDark" class="carousel carousel-dark slide">
                    <div class="carousel-inner">
                        <div *ngFor="let img of gameSelected.short_screenshots; let i = index">
                            <ng-template *ngIf="i==1 ; else elseBlock">
                                <div class="carousel-item active">
                                    <img [src]="img.image" class="d-block w-100" [alt]="img.image">
                                </div>
                            </ng-template>
                            <ng-template #elseBlock>
                                <div class="carousel-item">
                                    <img [src]="img.image" class="d-block w-100" [alt]="img.image">
                                </div>
                            </ng-template>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div> -->
            </div>
            <div class="col-sm-9 col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{gameSelected.name}}</h5>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    <p class="card-text">Released: {{gameSelected.released}}</p>
                    <div class="card-text">Genres: </div>
                    <div *ngFor="let genre of gameSelected.genres">
                        <div class="card-text"> - - > {{genre.name}}</div>
                    </div>
                    <div class="card-text">Platforms: </div>
                    <!-- REVISAR POR QUE NO ANDA ///////////////////////////////////////////////////////////////////////////////-->
                    <!-- <div *ngFor="let platform of gameSelected.parent_platforms">
                            <div class="card-text"> - - > {{platform.details.name}}</div>
                        </div> -->
                    <p></p>
                    <div class="card-text">Reating: {{gameSelected.rating}}</div>
                    <div *ngFor="let rating of gameSelected.ratings">
                        <div class="card-text"> - - > Type: {{rating.title}} #: {{rating.count}}</div>
                    </div>
                    <div class="card-text">Reating Count: {{gameSelected.ratings_count}}</div>


                </div>
            </div>
        </div>
    </div>
</div>