<div class="row">
    <div *ngFor="let game of games" class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="col" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openModal()">
            <div class="card text-center text-bg-primary h-100">
                <img [src]="game.background_image" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">{{ game.name }}</h5>
                    <p class="card-text">Released: {{game.released}}</p>
                    <p class="card-text">Rating: {{ game.rating }}</p>
                    <!-- <ngb-rating [max]="5" [(rate)]="{{ game.rating }}" [readonly]="true"></ngb-rating> -->
                    <p class="card-text">Rating Count: {{ game.reviews_count }}</p>
                    <p class="card-text"><small class="text-body-secondary">Last update: {{game.updated}}</small></p>
                </div>
            </div>
        </div>



    </div>
</div>