<div class="row">
    <div *ngFor="let game of games" class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
        <div class="col">
            <div class="card h-100">
                <img [src]="game.background_image" class="card-img-top"
                    alt="Hollywood Sign on The Hill" />
                <div class="card-body">
                    <h5 class="card-title">{{ game.name }}</h5>
                    <p class="card-text">
                        {{ game.rating }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>